Praktikum Klasifikasi dengan Naive Bayes dataset Academic

In [19]:
import pandas as pd
import numpy as np
df=pd.read_csv('D:\Kuliah\Semester 5\Data Mining\soalacademic.csv')

In [20]:
df.head()

,ID,Class,Gender (X1),Status IMT (X2),Berkacamata (X3),Pernah Sakit (X4),Gangguan Psikis (X5),Aktif Bertanya (X6),Aktif Menjawab (X7),Mengerjakan Tugas (X8),...,Mengulang Materi (X13),Praktek Mandiri (X14),Berdiskusi (X15),Memiliki HP(X16),Memiliki Laptop (X17),Kecukupan Kuota Internet (X18),Dukungan Suasana rumah (X19),PLN (X20),Lokasi (X21),Ketersediaan Sinyal (X22)
0,1,0,P,NORMAL,Tidak,Tidak,Tidak,Ya,Ya,Semua,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Tidak,Kadang-kadang,Ya,Pedesaan,Sebagian
1,2,2,L,GEMUK,Ya,Tidak,Tidak,Tidak,Tidak,Semua,...,Kadang-kadang,Kadang-kadang,Tidak,Ya,Ya,Ya,Ya,Ya,Perkotaan,Ya
2,3,2,P,NORMAL,Ya,Tidak,Tidak,Tidak,Tidak,Semua,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Ya,Ya,Ya,Perkotaan,Sebagian
3,4,2,P,NORMAL,Tidak,Ya,Tidak,Tidak,Tidak,Semua,...,Kadang-kadang,Ya,Ya,Ya,Ya,Ya,Kadang-kadang,Ya,Perkotaan,Ya
4,5,0,P,NORMAL,Tidak,Ya,Ya,Ya,Ya,Semua,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Kadang-kadang,Ya,Ya,Perkotaan,Sebagian

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                91 non-null     int64
 1   Class                             91 non-null     int64
 2   Gender (X1)                       91 non-null     object
 3   Status IMT (X2)                   91 non-null     object
 4   Berkacamata (X3)                  91 non-null     object
 5   Pernah Sakit (X4)                 91 non-null     object
 6   Gangguan Psikis (X5)              91 non-null     object
 7   Aktif Bertanya (X6)               91 non-null     object
 8   Aktif Menjawab (X7)               91 non-null     object
 9   Mengerjakan Tugas (X8)            91 non-null     object
 10  Tertarik Materi (X9)              91 non-null     object
 11  Alokasi Jam Belajar (X10)         91 non-null     object
 12  Memiliki Referensi Tambahan(X11)  91 non-null     object
 13  Browsing dan Youtube (X12)        91 non-null     object
 14  Mengulang Materi (X13)            91 non-null     object
 15  Praktek Mandiri (X14)             91 non-null     object
 16  Berdiskusi (X15)                  91 non-null     object
 17  Memiliki HP(X16)                  91 non-null     object
 18  Memiliki Laptop (X17)             91 non-null     object
 19  Kecukupan Kuota Internet (X18)    91 non-null     object
 20  Dukungan Suasana rumah (X19)      91 non-null     object
 21  PLN (X20)                         91 non-null     object
 22  Lokasi (X21)                      91 non-null     object
 23  Ketersediaan Sinyal  (X22)        91 non-null     object
dtypes: int64(2), object(22)
memory usage: 17.2+ KB

In [22]:
#Proses filter value data unik
for column in df.columns:
    print(f"Unique data of Column {column} :", np.sort(df[column].unique()))

Unique data of Column ID : [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91]
Unique data of Column Class : [0 1 2 3]
Unique data of Column Gender (X1) : ['L' 'P']
Unique data of Column Status IMT (X2) : ['GEMUK' 'KURUS' 'NORMAL' 'OBESITAS']
Unique data of Column Berkacamata (X3) : ['Tidak' 'Ya']
Unique data of Column Pernah Sakit (X4) : ['Tidak' 'Ya']
Unique data of Column Gangguan Psikis (X5) : ['Tidak' 'Ya']
Unique data of Column Aktif Bertanya (X6) : ['Tidak' 'Ya']
Unique data of Column Aktif Menjawab (X7) : ['Tidak' 'Ya']
Unique data of Column Mengerjakan Tugas (X8) : ['Sebagian' 'Semua']
Unique data of Column Tertarik Materi (X9) : ['Mungkin' 'Tidak' 'Ya']
Unique data of Column Alokasi Jam Belajar (X10) : [' LEBIH DARI 10 JAM' 'ANTARA 5 - 10 JAM' 'KURANG DARI 5 JAM']
Unique data of Column Memiliki Referensi Tambahan(X11) : ['Ada' 'Tidak Ada']
Unique data of Column Browsing dan Youtube (X12) : ['Tidak' 'Ya']
Unique data of Column Mengulang Materi (X13) : ['Kadang-kadang' 'Ya']
Unique data of Column Praktek Mandiri (X14) : ['Kadang-kadang' 'Ya']
Unique data of Column Berdiskusi (X15) : ['Kadang-kadang' 'Tidak' 'Ya']
Unique data of Column Memiliki HP(X16) : ['Tidak' 'Ya']
Unique data of Column Memiliki Laptop (X17) : ['Tidak' 'Ya']
Unique data of Column Kecukupan Kuota Internet (X18) : ['Kadang-kadang' 'Tidak' 'Ya']
Unique data of Column Dukungan Suasana rumah (X19) : ['Kadang-kadang' 'Tidak' 'Ya']
Unique data of Column PLN (X20) : ['Tidak' 'Ya']
Unique data of Column Lokasi (X21) : ['Pedesaan' 'Perkotaan' 'Pesisir']
Unique data of Column Ketersediaan Sinyal  (X22) : ['Sebagian' 'Tidak' 'Ya']

In [23]:
df.head()

,ID,Class,Gender (X1),Status IMT (X2),Berkacamata (X3),Pernah Sakit (X4),Gangguan Psikis (X5),Aktif Bertanya (X6),Aktif Menjawab (X7),Mengerjakan Tugas (X8),...,Mengulang Materi (X13),Praktek Mandiri (X14),Berdiskusi (X15),Memiliki HP(X16),Memiliki Laptop (X17),Kecukupan Kuota Internet (X18),Dukungan Suasana rumah (X19),PLN (X20),Lokasi (X21),Ketersediaan Sinyal (X22)
0,1,0,P,NORMAL,Tidak,Tidak,Tidak,Ya,Ya,Semua,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Tidak,Kadang-kadang,Ya,Pedesaan,Sebagian
1,2,2,L,GEMUK,Ya,Tidak,Tidak,Tidak,Tidak,Semua,...,Kadang-kadang,Kadang-kadang,Tidak,Ya,Ya,Ya,Ya,Ya,Perkotaan,Ya
2,3,2,P,NORMAL,Ya,Tidak,Tidak,Tidak,Tidak,Semua,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Ya,Ya,Ya,Perkotaan,Sebagian
3,4,2,P,NORMAL,Tidak,Ya,Tidak,Tidak,Tidak,Semua,...,Kadang-kadang,Ya,Ya,Ya,Ya,Ya,Kadang-kadang,Ya,Perkotaan,Ya
4,5,0,P,NORMAL,Tidak,Ya,Ya,Ya,Ya,Semua,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Kadang-kadang,Ya,Ya,Perkotaan,Sebagian

Preprocessing

In [24]:
#Menghapus kolom id
df.drop(columns={'ID'}, inplace=True)
df.head()

,Class,Gender (X1),Status IMT (X2),Berkacamata (X3),Pernah Sakit (X4),Gangguan Psikis (X5),Aktif Bertanya (X6),Aktif Menjawab (X7),Mengerjakan Tugas (X8),Tertarik Materi (X9),...,Mengulang Materi (X13),Praktek Mandiri (X14),Berdiskusi (X15),Memiliki HP(X16),Memiliki Laptop (X17),Kecukupan Kuota Internet (X18),Dukungan Suasana rumah (X19),PLN (X20),Lokasi (X21),Ketersediaan Sinyal (X22)
0,0,P,NORMAL,Tidak,Tidak,Tidak,Ya,Ya,Semua,Mungkin,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Tidak,Kadang-kadang,Ya,Pedesaan,Sebagian
1,2,L,GEMUK,Ya,Tidak,Tidak,Tidak,Tidak,Semua,Mungkin,...,Kadang-kadang,Kadang-kadang,Tidak,Ya,Ya,Ya,Ya,Ya,Perkotaan,Ya
2,2,P,NORMAL,Ya,Tidak,Tidak,Tidak,Tidak,Semua,Ya,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Ya,Ya,Ya,Perkotaan,Sebagian
3,2,P,NORMAL,Tidak,Ya,Tidak,Tidak,Tidak,Semua,Mungkin,...,Kadang-kadang,Ya,Ya,Ya,Ya,Ya,Kadang-kadang,Ya,Perkotaan,Ya
4,0,P,NORMAL,Tidak,Ya,Ya,Ya,Ya,Semua,Ya,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Kadang-kadang,Ya,Ya,Perkotaan,Sebagian

In [25]:
#Rename kolom
df.columns=[column.lower() for column in df.columns]
df.columns

Index(['class', 'gender (x1)', 'status imt (x2)', 'berkacamata (x3)',
       'pernah sakit (x4)', 'gangguan psikis (x5)', 'aktif bertanya (x6)',
       'aktif menjawab (x7)', 'mengerjakan tugas (x8)', 'tertarik materi (x9)',
       'alokasi jam belajar (x10)', 'memiliki referensi tambahan(x11)',
       'browsing dan youtube (x12)', 'mengulang materi (x13)',
       'praktek mandiri (x14)', 'berdiskusi (x15)', 'memiliki hp(x16)',
       'memiliki laptop (x17)', 'kecukupan kuota internet (x18)',
       'dukungan suasana rumah (x19)', 'pln (x20)', 'lokasi (x21)',
       'ketersediaan sinyal  (x22)'],
      dtype='object')

In [26]:
#Validasi NaN/null
print(df.isna().sum())

class                               0
gender (x1)                         0
status imt (x2)                     0
berkacamata (x3)                    0
pernah sakit (x4)                   0
gangguan psikis (x5)                0
aktif bertanya (x6)                 0
aktif menjawab (x7)                 0
mengerjakan tugas (x8)              0
tertarik materi (x9)                0
alokasi jam belajar (x10)           0
memiliki referensi tambahan(x11)    0
browsing dan youtube (x12)          0
mengulang materi (x13)              0
praktek mandiri (x14)               0
berdiskusi (x15)                    0
memiliki hp(x16)                    0
memiliki laptop (x17)               0
kecukupan kuota internet (x18)      0
dukungan suasana rumah (x19)        0
pln (x20)                           0
lokasi (x21)                        0
ketersediaan sinyal  (x22)          0
dtype: int64

In [27]:
#Delete duplicated data
df=df.drop_duplicates()
df.head()

,class,gender (x1),status imt (x2),berkacamata (x3),pernah sakit (x4),gangguan psikis (x5),aktif bertanya (x6),aktif menjawab (x7),mengerjakan tugas (x8),tertarik materi (x9),...,mengulang materi (x13),praktek mandiri (x14),berdiskusi (x15),memiliki hp(x16),memiliki laptop (x17),kecukupan kuota internet (x18),dukungan suasana rumah (x19),pln (x20),lokasi (x21),ketersediaan sinyal (x22)
0,0,P,NORMAL,Tidak,Tidak,Tidak,Ya,Ya,Semua,Mungkin,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Tidak,Kadang-kadang,Ya,Pedesaan,Sebagian
1,2,L,GEMUK,Ya,Tidak,Tidak,Tidak,Tidak,Semua,Mungkin,...,Kadang-kadang,Kadang-kadang,Tidak,Ya,Ya,Ya,Ya,Ya,Perkotaan,Ya
2,2,P,NORMAL,Ya,Tidak,Tidak,Tidak,Tidak,Semua,Ya,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Ya,Ya,Ya,Perkotaan,Sebagian
3,2,P,NORMAL,Tidak,Ya,Tidak,Tidak,Tidak,Semua,Mungkin,...,Kadang-kadang,Ya,Ya,Ya,Ya,Ya,Kadang-kadang,Ya,Perkotaan,Ya
4,0,P,NORMAL,Tidak,Ya,Ya,Ya,Ya,Semua,Ya,...,Kadang-kadang,Kadang-kadang,Ya,Ya,Ya,Kadang-kadang,Ya,Ya,Perkotaan,Sebagian

In [28]:
#Convert stringg value to Int
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
df.iloc[:, 1:]=encoder.fit_transform(df.iloc[:,1:])
df.head

<bound method NDFrame.head of     class  gender (x1)  status imt (x2)  berkacamata (x3)  pernah sakit (x4)  \
0       0          1.0              2.0               0.0                0.0
1       2          0.0              0.0               1.0                0.0
2       2          1.0              2.0               1.0                0.0
3       2          1.0              2.0               0.0                1.0
4       0          1.0              2.0               0.0                1.0
..    ...          ...              ...               ...                ...
86      1          0.0              2.0               0.0                0.0
87      2          0.0              2.0               0.0                1.0
88      0          0.0              3.0               1.0                1.0
89      1          0.0              2.0               0.0                0.0
90      2          0.0              1.0               0.0                1.0

    gangguan psikis (x5)  aktif bertanya (x6)  aktif menjawab (x7)  \
0                    0.0                  1.0                  1.0
1                    0.0                  0.0                  0.0
2                    0.0                  0.0                  0.0
3                    0.0                  0.0                  0.0
4                    1.0                  1.0                  1.0
..                   ...                  ...                  ...
86                   0.0                  1.0                  1.0
87                   0.0                  0.0                  0.0
88                   1.0                  1.0                  1.0
89                   0.0                  1.0                  1.0
90                   0.0                  0.0                  0.0

    mengerjakan tugas (x8)  tertarik materi (x9)  ...  mengulang materi (x13)  \
0                      1.0                   0.0  ...                     0.0
1                      1.0                   0.0  ...                     0.0
2                      1.0                   2.0  ...                     0.0
3                      1.0                   0.0  ...                     0.0
4                      1.0                   2.0  ...                     0.0
..                     ...                   ...  ...                     ...
86                     1.0                   2.0  ...                     0.0
87                     1.0                   0.0  ...                     0.0
88                     1.0                   0.0  ...                     0.0
89                     1.0                   2.0  ...                     0.0
90                     1.0                   0.0  ...                     0.0

    praktek mandiri (x14)  berdiskusi (x15)  memiliki hp(x16)  \
0                     0.0               2.0               1.0
1                     0.0               1.0               1.0
2                     0.0               2.0               1.0
3                     1.0               2.0               1.0
4                     0.0               2.0               1.0
..                    ...               ...               ...
86                    0.0               2.0               1.0
87                    0.0               2.0               1.0
88                    0.0               2.0               1.0
89                    0.0               0.0               1.0
90                    0.0               2.0               1.0

    memiliki laptop (x17)  kecukupan kuota internet (x18)  \
0                     1.0                             1.0
1                     1.0                             2.0
2                     1.0                             2.0
3                     1.0                             2.0
4                     1.0                             0.0
..                    ...                             ...
86                    1.0                             2.0
87                    1.0                             2.0
88                    1.0                             2.0
89                    1.0                             2.0
90                    1.0                             2.0

    dukungan suasana rumah (x19)  pln (x20)  lokasi (x21)  \
0                            0.0        1.0           0.0
1                            2.0        1.0           1.0
2                            2.0        1.0           1.0
3                            0.0        1.0           1.0
4                            2.0        1.0           1.0
..                           ...        ...           ...
86                           2.0        1.0           0.0
87                           2.0        1.0           1.0
88                           0.0        1.0           1.0
89                           2.0        1.0           1.0
90                           0.0        1.0           0.0

    ketersediaan sinyal  (x22)
0                          0.0
1                          2.0
2                          0.0
3                          2.0
4                          0.0
..                         ...
86                         0.0
87                         2.0
88                         0.0
89                         0.0
90                         0.0

[91 rows x 23 columns]>

In [29]:
#Memisah data menjadi feature dan class
x=df.iloc[:,1:]
y=df[{'class'}]

In [30]:
# Tahap Preprocessing 7
# Memisah data train dan validasi
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(x, y, random_state = 1)

Naive Bayes

In [31]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_validate,cross_val_score
model=GaussianNB()
X=df.drop('class',axis=1)
y=df['class']
cv_score1=cross_validate(model,X,y,cv=10, return_train_score=True)
cv_score2=cross_val_score(model,X,y,cv=10)

C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"
C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

In [32]:
print (cv_score1['train_score'].mean(), cv_score1['test_score'].mean())

0.540891297801867 0.4188888888888889

In [33]:
print(cv_score2.mean()) #test_score

0.4188888888888889

In [35]:
from sklearn.naive_bayes import CategoricalNB
from sklearn.model_selection import cross_validate,cross_val_score
model=CategoricalNB()
X=df.drop('class',axis=1)
y=df['class']
cv_score1=cross_validate(model,X,y,cv=10, return_train_score=True)
cv_score2=cross_val_score(model,X,y,cv=10)

C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"
C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

In [36]:
print (cv_score1['train_score'].mean(), cv_score1['test_score'].mean())

0.9755796446853356 0.8566666666666667

In [37]:
print(cv_score2.mean()) #test_score

0.8566666666666667

Evaluate Data

In [43]:
#Turning hyperparameter
from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits=2, shuffle=True,random_state=42)
score = cross_val_score(GaussianNB(),X,y,cv=skf,scoring="accuracy")
print('Skor setiap fold:',score)
print('Rata-rata score: ',score.mean())

Skor setiap fold: [0.54347826 0.51111111]
Rata-rata score:  0.5272946859903381

In [44]:
#Turning hyperparameter
from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits=2, shuffle=True,random_state=42)
score = cross_val_score(CategoricalNB(),X,y,cv=skf,scoring="accuracy")
print('Skor setiap fold:',score)
print('Rata-rata score: ',score.mean())

Skor setiap fold: [0.95652174 0.88888889]
Rata-rata score:  0.9227053140096618